In [1]:
"""
This is just code for the introduction to Python.
It also won't be used anywhere else in the book.
"""
for i in [1, 2]:
    print(i)                    # first line in "for i" block
    for j in [1, 2]:
        print(j)                # first line in "for j" block
        print(i + j)            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1
1
2
2
3
1
2
1
3
2
4
2
done looping

In [2]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

In [4]:
two_plus_three = 2 + \
                 3
two_plus_three

5

In [5]:
for i in [1, 2, 3, 4, 5]:

    # notice the blank line
    print(i)

1
2
3
4
5

In [6]:
import re
my_regex = re.compile("[0-9]+", re.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [8]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [9]:
match = 10
from re import *    # uh oh, re has a match function
print(match)        # "<function match at 0x10281e6a8>"

<function match at 0x000001F85D6FA0E0>

In [10]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

In [11]:
double(4)

8

In [12]:
def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

In [13]:
apply_to_one(double)

2

In [14]:
my_double = double             # refers to the previously defined function
x = apply_to_one(my_double)    # equals 2
x

2

In [15]:
assert x == 2

y = apply_to_one(lambda x: x + 4)      # equals 5
y

5

In [16]:
assert y == 5

another_double = lambda x: 2 * x       # Don't do this
another_double

In [17]:
def another_double(x):
    """Do this instead"""
    return 2 * x

In [18]:
another_double(8)

16

In [19]:
def my_print(message = "my default message"):
    print(message)

In [20]:
my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message'

hello
my default message

In [21]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

full_name("Joel", "Grus")     # "Joel Grus"

'Joel Grus'

In [22]:
full_name("Joel")             # "Joel Something"

'Joel Something'

In [23]:
full_name(last="Grus")        # "What's-his-name Grus"

"What's-his-name Grus"

In [24]:
assert full_name("Joel", "Grus")     == "Joel Grus"
assert full_name("Joel")             == "Joel Something"
assert full_name(last="Grus")        == "What's-his-name Grus"

In [25]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [26]:
tab_string = "\t"       # represents the tab character
len(tab_string)         # is 1

1

In [27]:
assert len(tab_string) == 1

In [28]:
not_tab_string = r"\t"  # represents the characters '\' and 't'
len(not_tab_string)     # is 2

2

In [29]:
assert len(not_tab_string) == 2

In [30]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

In [31]:
first_name = "Joel"
last_name = "Grus"

In [32]:
full_name1 = first_name + " " + last_name             # string addition
full_name1

'Joel Grus'

In [33]:
full_name2 = "{0} {1}".format(first_name, last_name)  # string.format
full_name2

'Joel Grus'

In [34]:
full_name3 = f"{first_name} {last_name}"
full_name3

'Joel Grus'

In [35]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

In [36]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

In [37]:
list_length = len(integer_list)     # equals 3
list_length

3

In [38]:
list_sum    = sum(integer_list)     # equals 6
list_sum

6

In [39]:
assert list_length == 3
assert list_sum == 6

In [40]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

zero = x[0]          # equals 0, lists are 0-indexed
zero

0

In [41]:
one = x[1]           # equals 1
one

1

In [42]:
nine = x[-1]         # equals 9, 'Pythonic' for last element
nine

9

In [43]:
eight = x[-2]        # equals 8, 'Pythonic' for next-to-last element
eight

8

In [44]:
x[0] = -1            # now x is [-1, 1, 2, 3, ..., 9]

In [45]:
x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
assert x == [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
first_three = x[:3]                 # [-1, 1, 2]
first_three

[-1, 1, 2]

In [48]:
three_to_end = x[3:]                # [3, 4, ..., 9]
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [49]:
one_to_four = x[1:5]                # [1, 2, 3, 4]
one_to_four

[1, 2, 3, 4]

In [50]:
last_three = x[-3:]                 # [7, 8, 9]
last_three

[7, 8, 9]

In [51]:
without_first_and_last = x[1:-1]    # [1, 2, ..., 8]
without_first_and_last

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
copy_of_x = x[:]                    # [-1, 1, 2, ..., 9]
copy_of_x

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
every_third = x[::3]                 # [-1, 3, 6, 9]
every_third

[-1, 3, 6, 9]

In [54]:
five_to_three = x[5:2:-1]            # [5, 4, 3]
five_to_three

[5, 4, 3]

In [55]:
assert every_third == [-1, 3, 6, 9]
assert five_to_three == [5, 4, 3]

In [56]:
1 in [1, 2, 3]    # True

True

In [57]:
0 in [1, 2, 3]    # False

False

In [58]:
x = [1, 2, 3]
x.extend([4, 5, 6])     # x is now [1, 2, 3, 4, 5, 6]
x

[1, 2, 3, 4, 5, 6]

In [59]:
assert x == [1, 2, 3, 4, 5, 6]

In [60]:
x = [1, 2, 3]
y = x + [4, 5, 6]       # y is [1, 2, 3, 4, 5, 6]; x is unchanged
y

[1, 2, 3, 4, 5, 6]

In [61]:
assert x == [1, 2, 3]
assert y == [1, 2, 3, 4, 5, 6]

In [62]:
x = [1, 2, 3]
x.append(0)      # x is now [1, 2, 3, 0]
x

[1, 2, 3, 0]

In [63]:
y = x[-1]        # equals 0
y

0

In [64]:
z = len(x)       # equals 4
z

4

In [65]:
assert x == [1, 2, 3, 0]
assert y == 0
assert z == 4

In [66]:
x, y = [1, 2]    # now x is 1, y is 2
x, y

(1, 2)

In [67]:
assert x == 1
assert y == 2

In [68]:
_, y = [1, 2]    # now y == 2, didn't care about the first element
y

2

In [69]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]
my_list

[1, 3]

In [70]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [71]:
def sum_and_product(x, y):
    return (x + y), (x * y)

In [72]:
sp = sum_and_product(2, 3)     # sp is (5, 6)
sp

(5, 6)

In [73]:
s, p = sum_and_product(5, 10)  # s is 15, p is 50
s, p

(15, 50)

In [74]:
x, y = 1, 2     # now x is 1, y is 2
x, y = y, x     # Pythonic way to swap variables; now x is 2, y is 1
x, y

(2, 1)

In [75]:
assert x == 2
assert y == 1

In [76]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic
grades = {"Joel": 80, "Tim": 95}    # dictionary literal

In [77]:
joels_grade = grades["Joel"]        # equals 80
joels_grade

80

In [78]:
assert joels_grade == 80

In [79]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [80]:
joel_has_grade = "Joel" in grades     # True
joel_has_grade

True

In [81]:
kate_has_grade = "Kate" in grades     # False
kate_has_grade

False

In [82]:
assert joel_has_grade
assert not kate_has_grade

In [83]:
joels_grade = grades.get("Joel", 0)   # equals 80
joels_grade

80

In [84]:
kates_grade = grades.get("Kate", 0)   # equals 0
kates_grade

0

In [85]:
no_ones_grade = grades.get("No One")  # default default is None
no_ones_grade

In [86]:
assert joels_grade == 80
assert kates_grade == 0
assert no_ones_grade is None

In [87]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3
num_students

3

In [88]:
assert num_students == 3

In [89]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [90]:
tweet_keys   = tweet.keys()     # iterable for the keys
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [91]:
tweet_values = tweet.values()   # iterable for the values
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [92]:
tweet_items  = tweet.items()    # iterable for the (key, value) tuples
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [93]:
"user" in tweet_keys            # True, but not Pythonic

True

In [94]:
"user" in tweet                 # Pythonic way of checking for keys

True

In [95]:
"joelgrus" in tweet_values      # True (slow but the only way to check)

True

In [96]:
assert "user" in tweet_keys
assert "user" in tweet
assert "joelgrus" in tweet_values

In [97]:
document = ["data", "science", "from", "scratch"]

In [98]:
word_counts = {}
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [99]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1
word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [100]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1
word_counts

{'data': 1, 'science': 1, 'from': 1, 'scratch': 1}

In [101]:
from collections import defaultdict

word_counts = defaultdict(int)          # int() produces 0
for word in document:
    word_counts[word] += 1
word_counts

defaultdict(int, {'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

In [102]:
dd_list = defaultdict(list)             # list() produces an empty list
dd_list

defaultdict(list, {})

In [103]:
dd_list[2].append(1)                    # now dd_list contains {2: [1]}
dd_list

defaultdict(list, {2: [1]})

In [104]:
dd_dict = defaultdict(dict)             # dict() produces an empty dict
dd_dict

defaultdict(dict, {})

In [105]:
dd_dict["Joel"]["City"] = "Seattle"     # {"Joel" : {"City": Seattle"}}
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [106]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair

defaultdict(<function __main__.<lambda>()>, {})

In [107]:
dd_pair[2][1] = 1                       # now dd_pair contains {2: [0, 1]}
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

In [108]:
from collections import Counter
c = Counter([0, 1, 2, 0])          # c is (basically) {0: 2, 1: 1, 2: 1}
c

Counter({0: 2, 1: 1, 2: 1})

In [109]:
# recall, document is a list of words
word_counts = Counter(document)
word_counts

Counter({'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

In [110]:
# print the 10 most common words and their counts
for word, count in word_counts.most_common(10):
    print(word, count)

data 1
science 1
from 1
scratch 1

In [111]:
primes_below_10 = {2, 3, 5, 7}

In [112]:
s = set()
s.add(1)       # s is now {1}
s

{1}

In [113]:
s.add(2)       # s is now {1, 2}s
s

{1, 2}

In [114]:
s.add(2)       # s is still {1, 2}
s

{1, 2}

In [115]:
x = len(s)     # equals 2
x

2

In [116]:
y = 2 in s     # equals True
y

True

In [117]:
z = 3 in s     # equals False
z

False

In [118]:
hundreds_of_other_words = []  # required for the below code to run

stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]
stopwords_list

['a', 'an', 'at', 'yet', 'you']

In [119]:
"zip" in stopwords_list     # False, but have to check every element

False

In [120]:
stopwords_set = set(stopwords_list)
stopwords_set

{'a', 'an', 'at', 'yet', 'you'}

In [121]:
"zip" in stopwords_set      # very fast to check

False

In [122]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)                # 6
num_items

6

In [123]:
item_set = set(item_list)                 # {1, 2, 3}
item_set

{1, 2, 3}

In [124]:
num_distinct_items = len(item_set)        # 3
num_distinct_items

3

In [125]:
distinct_item_list = list(item_set)       # [1, 2, 3]
distinct_item_list

[1, 2, 3]

In [126]:
assert num_items == 6
assert item_set == {1, 2, 3}
assert num_distinct_items == 3
assert distinct_item_list == [1, 2, 3]

In [127]:
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

In [128]:
parity = "even" if x % 2 == 0 else "odd"
parity

'even'

In [129]:
x = 0
while x < 10:
    print(f"{x} is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [130]:
# range(10) is the numbers 0, 1, ..., 9
for x in range(10):
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [131]:
for x in range(10):
    if x == 3:
        continue  # go immediately to the next iteration
    if x == 5:
        break     # quit the loop entirely
    print(x)

0
1
2
4

In [132]:
one_is_less_than_two = 1 < 2          # equals True
one_is_less_than_two

True

In [133]:
true_equals_false = True == False     # equals False
true_equals_false

False

In [134]:
assert one_is_less_than_two
assert not true_equals_false

In [135]:
x = None
assert x == None, "this is the not the Pythonic way to check for None"
assert x is None, "this is the Pythonic way to check for None"

In [136]:
def some_function_that_returns_a_string():
    return ""

In [137]:
s = some_function_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ""

In [138]:
first_char = s and s[0]
first_char

''

In [139]:
safe_x = x or 0

safe_x = x if x is not None else 0
safe_x

0

In [140]:
all([True, 1, {3}])   # True, all are truthy

True

In [141]:
all([True, 1, {}])    # False, {} is falsy

False

In [142]:
any([True, 1, {}])    # True, True is truthy

True

In [143]:
all([])               # True, no falsy elements in the list

True

In [144]:
any([])               # False, no truthy elements in the list

False

In [145]:
x = [4, 1, 2, 3]
y = sorted(x)     # y is [1, 2, 3, 4], x is unchanged
y

[1, 2, 3, 4]

In [146]:
x.sort()          # now x is [1, 2, 3, 4]
x

[1, 2, 3, 4]

In [147]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)  # is [-4, 3, -2, 1]
x

[-4, 3, -2, 1]

In [148]:
# sort the words and counts from highest count to lowest
print(word_counts)
print('\n')
wc = sorted(word_counts.items(),
            key=lambda word_and_count: word_and_count[1],
            reverse=True)
wc

Counter({'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

[('data', 1), ('science', 1), ('from', 1), ('scratch', 1)]

In [149]:
even_numbers = [x for x in range(5) if x % 2 == 0]  # [0, 2, 4]
even_numbers

[0, 2, 4]

In [150]:
squares = [x * x for x in range(5)]            # [0, 1, 4, 9, 16]
squares

[0, 1, 4, 9, 16]

In [151]:
even_squares = [x * x for x in even_numbers]        # [0, 4, 16]
even_squares

[0, 4, 16]

In [152]:
assert even_numbers == [0, 2, 4]
assert squares == [0, 1, 4, 9, 16]
assert even_squares == [0, 4, 16]

In [153]:
square_dict = {x: x * x for x in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [154]:
square_set  = {x * x for x in [1, -1]}      # {1}
square_set

{1}

In [155]:
assert square_dict == {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
assert square_set == {1}

In [156]:
zeros = [0 for _ in even_numbers]      # has the same length as even_numbers
zeros

[0, 0, 0]

In [157]:
assert zeros == [0, 0, 0]

In [158]:
pairs = [(x, y)
         for x in range(3)
         for y in range(3)]   # 100 pairs (0,0) (0,1) ... (9,8), (9,9)
pairs

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [159]:
assert len(pairs) == 9

In [160]:
increasing_pairs = [(x, y)                       # only pairs with x < y,
                    for x in range(4)           # range(lo, hi) equals
                    for y in range(x + 1, 4)]   # [lo, lo + 1, ..., hi - 1]
increasing_pairs

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

In [161]:
assert len(increasing_pairs) == 3 + 2 + 1

In [162]:
assert all(x < y for x, y in increasing_pairs)

assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should equal 2 but didn't"

In [163]:
def smallest_item(xs):
    return min(xs)

In [164]:
assert smallest_item([10, 20, 5, 40]) == 5
assert smallest_item([1, 0, -1, 2]) == -1

In [165]:
def smallest_item(xs):
    assert xs, "empty list has no smallest item"
    return min(xs)

In [166]:
class CountingClicker:
    """A class can/should have a docstring, just like a function"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

In [167]:
clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start with count 0"
clicker.click()
clicker.click()

In [168]:
assert clicker.read() == 2, "after two clicks, clicker should have count 2"

In [169]:
clicker.reset()

In [170]:
assert clicker.read() == 0, "after reset, clicker should be back to 0"

In [171]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker

    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

In [172]:
clicker2 = NoResetClicker()
assert clicker2.read() == 0
clicker2.click()

In [173]:
assert clicker2.read() == 1
clicker2.reset()

In [174]:
assert clicker2.read() == 1, "reset shouldn't do anything"

In [175]:
def generate_range(n):
    i = 0
    while i < n:
        yield i   # every call to yield produces a value of the generator
        i += 1

In [176]:
for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [177]:
def natural_numbers():
    """returns 1, 2, 3, ..."""
    n = 1
    while True:
        yield n
        n += 1

In [178]:
evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)
evens_below_20

In [179]:
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
evens

In [180]:
even_squares = (x ** 2 for x in evens)
even_squares

In [181]:
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
# and so on
even_squares_ending_in_six

In [182]:
assert next(even_squares_ending_in_six) == 16
assert next(even_squares_ending_in_six) == 36
assert next(even_squares_ending_in_six) == 196

In [183]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

# not Pythonic
for i in range(len(names)):
    print(f"name {i} is {names[i]}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

In [184]:
# also not Pythonic
i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

In [185]:
# Pythonic
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

In [186]:
import random
random.seed(10)  # this ensures we get the same results every time

four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.5714025946899135,
 0.4288890546751146,
 0.5780913011344704,
 0.20609823213950174]

In [187]:
random.seed(10)         # set the seed to 10
print(random.random())  # 0.57140259469

0.5714025946899135

In [188]:
random.seed(10)         # reset the seed to 10
print(random.random())  # 0.57140259469 again

0.5714025946899135

In [189]:
random.randrange(10)    # choose randomly from range(10) = [0, 1, ..., 9]

6

In [190]:
random.randrange(3, 6)  # choose randomly from range(3, 6) = [3, 4, 5]

4

In [191]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)

[5, 6, 9, 2, 3, 7, 8, 4, 1, 10]

In [192]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])     # "Bob" for me
my_best_friend

'Bob'

In [193]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)  # [16, 36, 10, 6, 25, 9]
winning_numbers

[4, 15, 47, 23, 2, 26]

In [194]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)  # [9, 4, 4, 2]

[2, 9, 5, 6]

In [195]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

In [196]:
assert all(re_examples), "all the regex examples should be True"

list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [197]:
# zip is lazy, so you have to do something like the following
[pair for pair in zip(list1, list2)]    # is [('a', 1), ('b', 2), ('c', 3)]

[('a', 1), ('b', 2), ('c', 3)]

In [198]:
assert [pair for pair in zip(list1, list2)] == [('a', 1), ('b', 2), ('c', 3)]

In [199]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

In [200]:
letters, numbers = zip(('a', 1), ('b', 2), ('c', 3))
letters, numbers

(('a', 'b', 'c'), (1, 2, 3))

In [201]:
def add(a, b): return a + b
add(1, 2)      # returns 3

3

In [202]:
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")

add expects two inputs

In [203]:
add(*[1, 2])   # returns 3

3

In [204]:
def doubler(f):
    # Here we define a new function that keeps a reference to f
    def g(x):
        return 2 * f(x)

    # And return that new function.
    return g

def f1(x):
    return x + 1

In [205]:
g = doubler(f1)
g

In [206]:
assert g(3) == 8,  "(3 + 1) * 2 should equal 8"

In [207]:
assert g(-1) == 0, "(-1 + 1) * 2 should equal 0"

In [208]:
def f2(x, y):
    return x + y

In [209]:
g = doubler(f2)

In [210]:
try:
    g(1, 2)
except TypeError:
    print("as defined, g only takes one argument")

as defined, g only takes one argument

In [211]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [212]:
def other_way_magic(x, y, z):
    return x + y + z

In [213]:
x_y_list = [1, 2]
z_dict = {"z": 3}
assert other_way_magic(*x_y_list, **z_dict) == 6, "1 + 2 + 3 should be 6"

In [214]:
def doubler_correct(f):
    """works no matter what kind of inputs f expects"""
    def g(*args, **kwargs):
        """whatever arguments g is supplied, pass them through to f"""
        return 2 * f(*args, **kwargs)
    return g

g = doubler_correct(f2)
g

In [215]:
assert g(1, 2) == 6, "doubler should work now"

In [216]:
def add(a, b):
    return a + b

In [217]:
assert add(10, 5) == 15,                  "+ is valid for numbers"
assert add([1, 2], [3]) == [1, 2, 3],     "+ is valid for lists"
assert add("hi ", "there") == "hi there", "+ is valid for strings"

In [218]:
try:
    add(10, "five")
except TypeError:
    print("cannot add an int to a string")

cannot add an int to a string

In [219]:
def add(a: int, b: int) -> int:
    return a + b

In [220]:
add(10, 5)           # you'd like this to be OK

15

In [221]:
add("hi ", "there")  # you'd like this to be not OK

'hi there'

In [222]:
# This is not in the book, but it's needed
# to make the `dot_product` stubs not error out.
from typing import List
Vector = List[float]
Vector

typing.List[float]

In [223]:
def dot_product(x, y): ...

In [224]:
# we have not yet defined Vector, but imagine we had
def dot_product(x: Vector, y: Vector) -> float: ...

In [225]:
from typing import Union

In [226]:
def secretly_ugly_function(value, operation): ...

In [227]:
def ugly_function(value: int, operation: Union[str, int, float, bool]) -> int:
    ...

In [228]:
def total(xs: list) -> float:
    return sum(xs)

In [229]:
from typing import List  # note capital L

In [230]:
def total(xs: List[float]) -> float:
    return sum(xs)

In [231]:
# This is how to type-annotate variables when you define them.
# But this is unnecessary; it's "obvious" x is an int.
x: int = 5

In [232]:
values = []         # what's my type?
best_so_far = None  # what's my type?

In [233]:
from typing import Optional

In [234]:
values: List[int] = []
best_so_far: Optional[float] = None  # allowed to be either a float or None

In [235]:
lazy = True

# the type annotations in this snippet are all unnecessary
from typing import Dict, Iterable, Tuple

In [236]:
# keys are strings, values are ints
counts: Dict[str, int] = {'data': 1, 'science': 2}

In [237]:
# lists and generators are both iterable
if lazy:
    evens: Iterable[int] = (x for x in range(10) if x % 2 == 0)
else:
    evens = [0, 2, 4, 6, 8]

In [238]:
# tuples specify a type for each element
triple: Tuple[int, float, int] = (10, 2.3, 5)

In [239]:
from typing import Callable

# The type hint says that repeater is a function that takes
# two arguments, a string and an int, and returns a string.
def twice(repeater: Callable[[str, int], str], s: str) -> str:
    return repeater(s, 2)

In [240]:
def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ', '.join(n_copies)

In [241]:
assert twice(comma_repeater, "type hints") == "type hints, type hints"

In [242]:
Number = int
Numbers = List[Number]

In [243]:
def total(xs: Numbers) -> Number:
    return sum(xs)